@charset "utf-8";

img {
border-width:0px;
}

#login_info {
margin-top:180px;
}

#login {
text-align : center;
}

#login table {
font-size: 24px;
border: 0px;
}

/*add start hirose 2018/06/27 停止時間メッセージ追加*/
#login .info-area{
	font-size:14px;
	width:700px;
	margin:auto;
}
.info-area.top-space{
	margin-top:5px;
}
/*add end hirose 2018/06/27 停止時間メッセージ追加*/


table td {
text-align : left;
}


.item_name {
text-align : right;
margin-right:20px;
}

#enter {
font-size: 24px;
ime-mode : inactive;
}

#submit {
font-size : 20px;
font-weight : bold;
color : black;
background-color : #ffffff;
border-width : 2px;
border-style : double;
border-color : #ff0000;
cursor : pointer;
}

/* add oda 2013/04/10 submitのボタンのIDをsubmit_buttonに移行する */
#submit_button {
font-size : 20px;
font-weight : bold;
color : black;
background-color : #ffffff;
border-width : 2px;
border-style : double;
border-color : #ff0000;
cursor : pointer;
}

/*IDからクラスへ変更 2011/12/20 ookawara*/
.login_information{
display:block;
  text-align : left;
  border-width : 1px;
  border-style : solid;
/*  width : 430px;*/
/*  width : 380px;*/
/*  width : 460px;*/
  padding : 5px;
  font-size : 14px;
/*float:left;*/
/*height:410px;*/
margin-bottom:5px;
line-height: 1;
}

#error_area {
  margin-right: auto;
  margin-left: auto;
}

#error {
  font-size : 18px;
}

#error span{
  font-size : 20px;
  color : #ff0000;
  font-weight : bold;
}

#schoolbody {
background-color : #BFE1FF;
}

#studentbody {
background-color : #FFFFFF;
}


/* テキストタイトル */
#test_title {
width : 680px;
border: 3px solid #191970;
background-color : #FFFACD;
font-weight : bold;
font-size : 40pt;
margin-top: 100px;
padding: 40px 0px;
}

/* タイトル画像 */
#test_title_img {
margin: 100px 0 30px 0;
}

.login_form_msg {
  font-size : 20px;
}

form {
	clear:both;
}

form > table {
	margin:0 auto 0 auto;

}

body {
	text-align:center;
	width:100%;
	margin: 0;
}


/* バナーエリア */
#banner_area {
	width:740px;
	hegith:150px;
	margin: 20px auto 0 auto;
	padding: 0;
}

#banner_area a {
	float:left;
	margin: 0 8px 5px 0;
	padding: 0;
	border: 0;
}

/* add simon 2016-11-24 >>> */
input[type=text], input[type=password], textarea {
	border: 1px solid grey;
}
/* <<<*/

/* add start kimura 2019/09/02 google連携 */
#sso_google {
	display:block;
	width:191px;
	height:46px;
	background-image:url(../material/login/google/btn_google_signin_dark_normal_web.png);
}

#sso_google:hover {
	background:url(../material/login/google/btn_google_signin_dark_focus_web.png);
}

#sso_google:active {
	background:url(../material/login/google/btn_google_signin_dark_pressed_web.png);
}
/* add end   kimura 2019/09/02 google連携 */
